/* Start BUTTON CSS*/
.btn, .buttons-inline .btn {
  display: inline-block
}

.btn {
  border-radius: 25px;
  border: 3px solid;
  padding: 10px 30px;
  text-align: center;
  max-height: 50px;
  font-size: 18px;
  white-space: nowrap;
  width: auto;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  line-height: 18px;
  zoom: 1;
  position: relative;
    -webkit-box-shadow: 0px 10px 300px -29px rgba(0,0,0,1);
    -moz-box-shadow: 0px 10px 300px -29px rgba(0,0,0,1);
    box-shadow: 0px 10px 300px -29px rgba(0,0,0,1);
}

.btn:hover {
  -webkit-box-shadow: 0px 10px 300px 10px rgba(0,0,0,1);
  -moz-box-shadow: 0px 10px 300px 10px rgba(0,0,0,1);
  box-shadow: 0px 10px 300px 10px rgba(0,0,0,1);
}

.btn.btn-white {
  background-color: $white;
  color: $blue;
}

.btn.btn-blue {
  color: $white;
  background-color: $blue;
  border: 3px solid $blue;
}

.btn.btn-market {
  color: $white;
  background-color: $blue
}

.input-group-btn .btn {
  border: 1px solid #ccc;
  padding: 5.5px 12px
}
@media screen and (max-width: 1024px){
  .buttons-inline .btn:first-child {
    margin-bottom: 15px
  }
}
.btn-grad{
  background: rgba(25,118,210,1);
  background: -moz-linear-gradient(left, rgba(25,118,210,1) 0%, rgba(4,189,115,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,118,210,1)), color-stop(100%, rgba(4,189,115,1)));
  background: -webkit-linear-gradient(left, rgba(25,118,210,1) 0%, rgba(4,189,115,1) 100%);
  background: -o-linear-gradient(left, rgba(25,118,210,1) 0%, rgba(4,189,115,1) 100%);
  background: -ms-linear-gradient(left, rgba(25,118,210,1) 0%, rgba(4,189,115,1) 100%);
  background: linear-gradient(to right, rgba(25,118,210,1) 0%, rgba(4,189,115,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1976d2', endColorstr='#04bd73', GradientType=1 );
  color: $white;
  border: 0px solid transparent;
}
.btn-xl{
  font-size: 2em;
  padding: 1.15% 3%;
  border-radius: 50px;
  font-weight: 500;
  max-height: 100px;
  height: auto;
}
/* END BUTTON CSS*/
