.text-contained{
  padding: 38.6% 0;
  text-align: center;
}
.text-title{
  background-color: $blue;
    padding: 4% 0%;
    max-width: 65%;
    color: white;
    font-weight: 500;
    margin: 3% 20%;
}
