a .category-item {
  color: #fff
}

.category-item {
  width: 30%;
  min-height: 350px;
  margin-right: 1.5%;
  padding: 2%;
  background-position: center;
  display: inline-block;
  color: #fff;
  margin-bottom: 15px
}

@media screen and (max-width:768px) {
  .category-item {
    width: 100%;
    min-height: 450px;
    margin-right: 0;
    padding: 2%;
    background-size: cover;
    display: block;
    background-repeat: no-repeat
  }
}

@media screen and (min-width:769px) and (max-width:982px) {
  .category-item {
    width: 47%;
    min-height: 450px;
    margin-right: 0;
    padding: 2%;
    background-size: cover;
    display: block;
    background-repeat: no-repeat
  }
}
