@import 'landing';
@import 'sliders';
@import 'category';
@import 'global';
@import 'portfolio';
@import 'about';
@import 'search';
@import 'themes';
@import 'comingsoon';
@import 'login';
@import 'blog';
