.row.search-row {
  padding: 20px 0;
  border-top: 1px dashed #e7eaec;
  padding:20px 0;
  margin-left: 0!important;
  margin-right: 0!important;
}

.row.search-row:first-child {
  margin-top: 30px!important;
}

.results {
  padding-left: 30px;
}
